# PROBLEM 1

Understanding the content of the competition

1. What to learn and what to predict?

Ans: This competition teaches or learn us how to use data within machine learning to predict an accurate end result based on    the target variable, and is a standard supervised classification task. While its also predict if clients will be able to     repay loan on time or we can say the prediction of clients repayment ability.



2. What kind of file to create and submit to kaggle?

Ans: Submissions are evaluated on area under the ROC curve between the predicted probability and the observed target. Receiver Operating Characteristic Area Under the Curve (ROC AUC, also sometimes called AUROC). For each SK_ID_CURR in the test set, you must predict a probability for the TARGET variable. The file should contain a header and have the following format: 
SK_ID_CURR,TARGET
100001,0.1
100005,0.9
100013,0.2
etc. 


3. What kind of index value will be used to evaluate the submissions?

Ans: The index value used to evaluate the submission are 0 and 1 where in 0 means the loan was repaid and 1 meaning the loan was not repaid.

# PROBLEM 2

Learning and verification

In [11]:
##Importing Liberies
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_auc_score
from sklearn import tree

In [12]:
##Loading the application data and printing the its shape
train = pd.read_csv("application_train.csv")
print("Training Data Shape: ", train.shape)

Training Data Shape:  (307511, 122)

In [13]:
#Deleting or droping the empty data(null data)
cleaned_train = train.dropna()
x = cleaned_train.loc[:,["AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY"]]
y = cleaned_train["TARGET"]

In [14]:
##Loadind the first five columns of the training data
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
##Spliting the data into train and test data, fiting and predicting the MSC and ROC
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

reg = LinearRegression().fit(x_train, y_train)
reg_pred = reg.predict(x_test)

print("MSE: ", mean_squared_error(y_true=y_test, y_pred=reg_pred))
print("ROC: ", roc_auc_score(y_test,reg_pred))

MSE:  0.052153197403226256
ROC:  0.5938285747369815

# PROBLEM 3

Estimation on test data

In [16]:
##Loading and displaying the first five columns of the test data
test = pd.read_csv("application_test.csv")
test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
##Printing testing data shape
print("Testing Data Shape: ", test.shape)

Testing Data Shape:  (48744, 121)

In [18]:
##Droping columns with missing values, training, predicting and submitting to kaggle
test_cleaned = test.dropna(axis=0)
test_x = test_cleaned.loc[:,["AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY"]]
test_scaler = StandardScaler()
test_x_trans = scaler.fit_transform(test_x)

test_reg_pred = reg.predict(test_x_trans)

kgl_submission = pd.concat([test_cleaned['SK_ID_CURR'], pd.Series(test_reg_pred, name='TARGET')], axis=1)
kgl_submission = kgl_submission.fillna(0)
kgl_submission.at[648,'TARGET']= 0
kgl_submission.shape
kgl_submission.to_csv('kggl_submission.csv', index=False)

# PROBLEM 4

Feature engineering

In [20]:
##Patterns 1 of training and validation (imputation)
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

imp_mean = SimpleImputer(strategy='mean')

##Removing the missing values
imp_x = imp_mean.fit_transform(x)

##One hot encoding
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc_imp_x = enc.fit_transform(imp_x).toarray()

##Spliting into train and test data
x_train_1, x_test_1, y_train_1, y_test_1 = train_test_split(enc_imp_x, y, test_size=0.25, random_state=42)

##Standardizing the data
scaler = StandardScaler()
scaler.fit(x_train_1)
x_train_trans_1 = scaler.transform(x_train_1)
x_test_trans_1 = scaler.transform(x_test_1)

##Fitting the data
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(random_state=5)
lgb = lgbm.fit(x_train_trans_1, y_train_1)

#Predicting the data
reg_pred_1 = lgb.predict(x_test_trans_1)

print("Accuracy: ", accuracy_score(y_test_1,reg_pred_1))

Accuracy:  0.9446768944676894

In [21]:
##Patterns 2 of training and validation (Median)
imp_median = SimpleImputer(strategy='median')

##Removing the missing values
imp_x_1 = imp_median.fit_transform(x)

##One hot encoding
from sklearn.preprocessing import OneHotEncoder
enc_1 = OneHotEncoder(handle_unknown='ignore')
enc_imp_x_1 = enc.fit_transform(imp_x_1).toarray()

##Spliting into train and test data
x_train_2, x_test_2, y_train_2, y_test_2 = train_test_split(enc_imp_x_1, y, test_size=0.25, random_state=42)

##Standardizing the data
scaler = StandardScaler()
scaler.fit(x_train_2)
x_train_trans_2 = scaler.transform(x_train_2)
x_test_trans_2 = scaler.transform(x_test_2)

##Fitting the data
from lightgbm import LGBMClassifier
lgbm_1 = LGBMClassifier(random_state=5)
lgb_1 = lgbm_1.fit(x_train_trans_2, y_train_2)

##Predicting
reg_pred_2 = lgb_1.predict(x_test_trans_2)

print("Accuracy: ", accuracy_score(y_test_2,reg_pred_2))

Accuracy:  0.9446768944676894

In [27]:
##Patterns 3 of training and validation(Most frequent)
imp_mf = SimpleImputer(strategy='most_frequent')

##Removing the missing values
imp_x_2 = imp_mf.fit_transform(x)

##One hot encoding
from sklearn.preprocessing import OneHotEncoder
enc_2 = OneHotEncoder(handle_unknown='ignore')
enc_imp_x_2 = enc.fit_transform(imp_x_2).toarray()

##Spliting the data into train and test data
x_train_3, x_test_3, y_train_3, y_test_3 = train_test_split(enc_imp_x_2, y, test_size=0.25, random_state=42)

##Standardizing the data
scaler = StandardScaler()
scaler.fit(x_train_3)
x_train_trans_3 = scaler.transform(x_train_3)
x_test_trans_3 = scaler.transform(x_test_3)

##Fitting the data
from lightgbm import LGBMClassifier
lgbm_2 = LGBMClassifier(random_state=5)
lgb_2 = lgbm_2.fit(x_train_trans_3, y_train_3)

# predicting
reg_pred_3 = lgb_2.predict(x_test_trans_3)

print("Accuracy: ", accuracy_score(y_test_3,reg_pred_3))

Accuracy:  0.9446768944676894

In [28]:
##Patterns 4 of training and validation(Constant)
imp_cnst = SimpleImputer(strategy='constant')

##Removing the missing values
imp_x_3 = imp_cnst.fit_transform(x)

##One hot encoding
from sklearn.preprocessing import OneHotEncoder
enc_3 = OneHotEncoder(handle_unknown='ignore')
enc_imp_x_3 = enc.fit_transform(imp_x_3).toarray()

##Splitting the data into training and testing data
x_train_4, x_test_4, y_train_4, y_test_4 = train_test_split(enc_imp_x_3, y, test_size=0.25, random_state=42)

##Standardizing the data
scaler = StandardScaler()
scaler.fit(x_train_4)
x_train_trans_4 = scaler.transform(x_train_4)
x_test_trans_4 = scaler.transform(x_test_4)

##Fitting the data
from lightgbm import LGBMClassifier
lgbm_3 = LGBMClassifier(random_state=5)
lgb_3 = lgbm_3.fit(x_train_trans_4, y_train_4)

##Predicting
reg_pred_4 = lgb_3.predict(x_test_trans_4)

print("Accuracy: ", accuracy_score(y_test_4,reg_pred_4))

Accuracy:  0.9446768944676894

In [29]:
##Pattern 5 of training and validation
imp_cnst = SimpleImputer(strategy='constant')

##Removing the missing values
imp_x_4 = imp_cnst.fit_transform(x)

##One hot encoding
from sklearn.preprocessing import OneHotEncoder
enc_4 = OneHotEncoder(handle_unknown='ignore')
enc_imp_x_4 = enc.fit_transform(imp_x_4).toarray()

##Splitting the data into training and testing data 
x_train_5, x_test_5, y_train_5, y_test_5 = train_test_split(enc_imp_x_4, y, test_size=0.25, random_state=42)

##Standardizing the data
scaler = StandardScaler()
scaler.fit(x_train_5)
x_train_trans_5 = scaler.transform(x_train_5)
x_test_trans_5 = scaler.transform(x_test_5)

##Fitting the data
from lightgbm import LGBMClassifier
lgbm_4 = LGBMClassifier(random_state=5)
lgb_4 = lgbm_4.fit(x_train_trans_5, y_train_5)

##Predicting
reg_pred_5 = lgb_4.predict(x_test_trans_5)

print("Accuracy: ", accuracy_score(y_test_5,reg_pred_5))

Accuracy:  0.9446768944676894

#### The feature and preprocess used is *IMPUTAION and HOT ENCODING* techniques.


These techniques are more useful, and from what is noticed, when using simple imputer the accuracy will still be high and they also stays constant.